{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Latest Snippets</h2>
    <p>There's nothing to see here yet!</p>
  <!--  <iframe src="http://192.168.56.227:3000/d-solo/kE8OSay4z/as-a1?orgId=1&from=1685223085767&to=1689349471715&panelId=7" width="900" height="400" frameborder="0"></iframe>-->
{{end}}